.complaint_button {
  color: aliceblue;
  background-color: #a1bbc4;
  display: inline;
  padding: 0.5rem;
  border-radius: 5px;
}

.complaint_icon {
  display: inline;
}

.complaint_text {
  display: inline;
  margin-left: 0.5rem;
}

.complaint_button:hover {
  cursor: pointer;
  background-color: #91b0ba;
}

@media (max-width: 400px) {
  .complaint_text {
    display: none;
  }
}
