.img_uploader {
  color: black;
  margin-top: 10px;
}

.textarea {
  resize: none;
}

.finish_button {
  padding: 5px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 5px;
}

.delete_button {
  background-color: #d03516;
  border: 1px solid #b22f15;
}

.delete_button:hover {
  cursor: pointer;
  background-color: #b22f15;
}

.save_button {
  background-color: #f3f47b;
  border: 1px solid #d1e0e0;
}

.save_button:hover {
  cursor: pointer;
  background-color: #c7c866;
}

.cancel_button {
  background-color: #c1c1be;
  border: 1px solid #d1e0e0;
  margin-left: 10px;
}

.cancel_button:hover {
  cursor: pointer;
  background-color: #9e9e9b;
}

.error_message {
  margin-top: 5px;
  color: red;
}
