.search {
  display: inline-block;
}

form {
  display: inline-block;
}

.search input {
  border: 1px solid #d1e0e0;
  border-radius: 4px;
  width: 40vw;
  height: 1.7rem;
  min-width: 1rem;
}

@media (max-width: 500px) {
  .search input {
    height: 1rem;
    font-size: 0.5rem;
  }
}
