.video_player {
  text-align: center;
}

.video_stat {
  display: flex;
  flex-direction: column;
  float: right;
}

.video_name {
  display: block;
  padding: 5px;
  color: #d9d9d9;
  word-break: break-word;
  margin-right: 5%;
}

.views_count {
  display: flex;
  color: #d9d9d9;
  float: right;
  font-size: 1.5rem;
  margin-right: 2rem;
}

.video_reaction {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.like_dislike_panel {
}

.complaint_button {
  margin-top: 0.7rem;
}

.channel_picture {
  display: inline-block;
  padding: 8px;
}

.channel_info {
  display: inline-block;
}

.channel_name {
  display: flex;
  color: #d9d9d9;
}

.count_subs {
  font-size: 1rem;
}

.channel_name:hover {
  text-shadow: 2px 2px #616d71;
}

.subscribe_button {
  display: flex;
  margin-left: 8px;
}

.count_subs {
  display: flex;
  font-size: 1rem;
  color: #d9d9d9;
}

.video_description {
  color: #d9d9d9;
  padding: 2px;
  border-bottom: 4px solid #d9d9d9;
}

.video_description_text {
  display: block;
  word-break: break-word;
  padding: 5%;
}

.comment_form {
  display: flex;
  justify-content: center;
}

.donut_panel {
  display: flex;
}

@media (max-width: 400px) {
  .channel_info {
    display: block;
    margin-left: 1rem;
  }
  .count_subs {
    font-size: 1rem;
  }
  .channel_name {
    font-size: 1rem;
  }
}
