.video_player {
  text-align: center;
}

.video_stat {
  display: block;
  float: right;
}

.video_name {
  display: block;
  padding: 5px;
  color: #d9d9d9;
  word-break: break-word;
  margin-right: 5%;
}

.views_count {
  display: flex;
  color: #d9d9d9;
  float: right;
  margin-right: 5vw;
}

.like_dislike_panel {
  margin-right: 2vw;
}

.channel_picture {
  display: inline-block;
  padding: 8px;
}

.channel_info {
  display: inline-block;
}

.channel_name {
  display: flex;
  color: #d9d9d9;
}

.channel_name:hover {
  text-shadow: 2px 2px #616d71;
}

.subscribe_button {
  display: flex;
  margin-left: 8px;
}

.count_subs {
  display: flex;
  font-size: 15px;
  color: #d9d9d9;
}

.video_description {
  color: #d9d9d9;
  padding: 2px;
  border-bottom: 4px solid #d9d9d9;
}

.video_description_text {
  display: block;
  word-break: break-word;
  padding: 5%;
}

.comment_form {
  display: flex;
  justify-content: center;
}

.donut_panel {
  display: flex;
}
