.user_video {
  text-align: center;
}

.loading {
  color: #d9d9d9;
  font-weight: bold;
  display: inline-block;
  font-family: "Itim", cursive;
  font-size: 20px;
  clip-path: inset(0 2ch 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

.video_min {
  display: inline-block;
  padding: 10px;
}

.video_min:hover {
  cursor: pointer;
  background-color: #b8b8c7;
}

.no_video {
  /* font-size: 20px; */
  padding: 5px;
}

.add_video {
  font-size: 20px;
  color: #d9d9d9;
}
