.menu_content_active {
  transform: translateX(0) !important;
}

.menu_content {
  position: fixed;
  height: 100vh;
  z-index: 4;
  width: 20vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #466570;
  transform: translateX(-100%);
  transition: all 0.4s;
}

.menu_content a {
  color: aliceblue;
  text-decoration: none;
}

.menu_content li {
  display: block;
  /* margin-top: 10px; */
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  height: auto;
  font-size: 1rem;
}

.menu_content li:hover {
  background-color: #384f58;
  width: 100%;
}

.menu_content ul {
  text-align: center;
  width: 100%;
}

.menu_header {
  color: aliceblue;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 5px;
}

.bottom_border {
  border-bottom: 2px solid black;
  /* padding-bottom: 5px; */
}

.undisabled {
  color: #a6acad !important;
  pointer-events: none;
}

@media (max-width: 700px) {
  .menu_content li {
    font-size: 0.6rem;
  }
  .menu_header {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .menu_content li {
    font-size: 0.4rem;
  }
  .menu_header {
    font-size: 0.6rem;
  }
}
