.finish_button {
  padding: 5px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 5px;
}

.textarea {
  resize: none;
}

.submit_button {
  background-color: #f3f47b;
}

.cancel_button {
  background-color: #c1c1be;
  margin-left: 10px;
}

.cancel_button:hover {
  cursor: pointer;
  background-color: #9e9e9b;
}

.submit_button:hover {
  cursor: pointer;
  background-color: #c7c866;
}

.error_message {
  margin-top: 5px;
  color: #9f1f35;
}

.delete_button {
  background-color: #d8e1e4;
}

.delete_button:hover {
  cursor: pointer;
  background-color: #c0c8cb;
}
