.video_input_button {
  background-color: #f3f47b;
  color: black !important;
  padding: 3px;
  border-radius: 5px;
}

.video_input_button:hover {
  background-color: #c7c866;
  border: 1px solid black;
  cursor: pointer;
}

.video_icon {
  padding: 20px;
}

.video_input_empty_video_drop {
  border-style: dashed !important;
}

.video_input_empty_video {
  margin-top: 20px;
  width: 30%;
  text-align: center;
  border: 4px solid black;
}

.video_input_video {
  width: 30%;
}

@media (max-width: 400px) {
  .video_input_empty_video {
    width: 90%;
  }
  .video_input_video {
    width: 90%;
  }
}
