.complaint {
  text-align: center;
}

.complaint_text {
  resize: none;
  border-radius: 5px;
}

.complaint input[type="submit"] {
  margin-top: 1rem;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #f3f47b;
}

.complaint input[type="submit"]:hover {
  cursor: pointer;
  background-color: #c7c866;
}

@media (max-width: 400px) {
  .complaint_text {
    font-size: 0.4rem;
  }
}
