.form_sig {
  padding: 15px;
}

.form_sig label {
  font-weight: bold;
  color: #f3f47b;
}

hr {
  background-color: #f3f47b;
  height: 2px;
}

.form_sig input {
  border: 1px solid #d1e0e0;
  border-radius: 4px;
  padding: 5px;
  font-size: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.form_sig input[type="submit"] {
  font-size: 1.3rem;
}

.create_acc {
  margin-top: 15px !important;
  background-color: #f3f47b;
  padding: 5px;
  /* font-size: 20px !important; */
  cursor: pointer;
}

.bad_input {
  display: inline-block;
  margin-left: 10px;
  color: #9f1f35;
  font-size: 20px;
  font-weight: bold;
}

.create_acc:hover {
  background-color: #c7c866;
  border: 1px solid black;
}

.create_acc_disabled {
  margin-top: 15px !important;
  background-color: #a2a08c;
  padding: 5px;
  font-size: 20px !important;
}

.forgot_password {
  display: inline-block;
  margin-left: 5px;
  color: #f3f47b;
}

.forgot_password:hover {
  cursor: pointer;
  color: #c7c866;
}

@media (max-width: 700px) {
  .form_sig input {
    font-size: 0.6rem;
  }

  .form_sig input[type="submit"] {
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  .form_sig input {
    font-size: 0.4rem;
  }

  .form_sig input[type="submit"] {
    font-size: 0.7rem;
  }
}
