* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Quicksand", sans-serif; */
  /* font-family: "Itim", cursive; */
  font-family: "Signika Negative", sans-serif;
}

body {
  background-color: #668c99;
  display: flex;
  overflow-x: hidden;
}
