.reset_password_form {
  text-align: center;
  margin-top: 5px;
}

.submit_button {
  padding: 5px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 5px;
  color: black;
  background-color: #f3f47b;
  border: 1px solid #ced4ce;
}

.submit_button_disabled {
  padding: 5px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 5px;
  color: #787c78;
  background-color: #a2a08c;
  border: 1px solid #ced4ce;
}

.submit_button:hover {
  cursor: pointer;
  background-color: #c7c866;
}

.error_message {
  margin-top: 5px;
  color: #9f1f35;
}

.input_header {
  display: inline-block;
}

.input_status {
  display: inline-block;
  margin-left: 5px;
}

.input_status_bad {
  color: #9f1f35;
}

.input_status_good {
  color: #53c85a;
}
